a(href spa-href= 'contato.html' spa-selector= '#page-content,title') Contato
a(href spa-href= 'index.html' spa-selector= '#page-content,title') Index
hr
a(href spa-href= '#/contato' spa-selector= '#page-content,title') Contato
a(href spa-href= '#/' spa-selector= '#page-content,title') Index
