include ../_starter.pug

doctype html
html
  //- Head
  head
    include ../partials/_head.pug
    block head
  body(class= 'default')
    //- Header
    header#page-header
      include ../partials/_header.pug

    //- Content
    #page-content
      block content

    //- Footer
    footer#page-footer
      include ../partials/_footer.pug

    //- Scripts
    include ../partials/_scripts.pug
    block script
