head
  //- Scripts Async

  //- Meta
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')

  //- Stylesheet Header
  link(rel='stylesheet' href='vendor/sanitize/sanitize.css')
  link(rel='stylesheet' href='css/style.css')

  //- Title n Descriptions
  meta(name='description' content='Page Description')
  link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.png')

  //- Script Header
