//- Critical Rendering Path Stylesheet`
style
  include:sass ./core/css/critical.sass

//- Script Async

//- Meta
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')

//- Stylesheet
link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet' href='core/css/style.css')

//- Google Fonts
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet')

//- Script Header
//- script(src='vendor/jquery/jquery.min.js')
