
doctype html
html
  //- Head
  head
    include ./_head
    block head
  body(class= 'default')
    //- Header
    header#page-header
      block header
        include ./components/header/header

    //- Content
    #page-content
      block content

    //- Footer
    footer#page-footer
      block footer
        include ./components/footer/footer

    //- Scripts
    block script
      include ./_scripts
