
doctype html
html
  //- Head
  head
    //- Critical Rendering Path Stylesheet
    //- style#rc-single
    //-   block critical
    //-     :sass
    style#rc-general
      include:sass ./core/css/critical.sass
    //- Template Head
    include ./_head
    //- Custom Page Head
    block head
  body(class= 'default')
    //- Header
    header#page-header
      block header
        include ./components/header/header

    //- Content
    #page-content
      block content

    //- Footer
    footer#page-footer
      block footer
        include ./components/footer/footer

    //- Scripts
    include ./_scripts
    block script
