extends html/templates/_default.pug
block head
  title Contatinho
  meta(name='description' content='Descrição Contato')
  meta(spa-selector='title meta[name="description"] #page-content')
block script
  script.

//- Content
block content
  //- h1 -"<b>Contatinho</b> do pai!" ☎️
  h6 contato
