extends _template.pug
block head
  title Contatinho
  meta(name='description' content='Descrição Contato')
  link(rel='canonical' href='contato.html')
  meta(spa-selector='title meta[name="description"] link[rel="canonical"] #page-content')
prepend script
  script.

//- Content
block content
  h1 -"<b>Contatinho</b> do pai!" ☎️
