extends html/templates/_default.pug
block head
  title Contatinho
  meta(name='description' content='Page Description')
block script
  script.

//- Content
block content
  h1 -"Contatinho do pai!</b>" ☎️
