doctype html
html
  include html_inc/page_partials/_head.pug
    title Contato
  body
    include html_inc/page_partials/_header.pug

    //- Page Content
    #page-content
      p Conteúdo de Contato

    //- Page Content End

    include html_inc/page_partials/_footer.pug
    //- script(src='vendor/jquery/jquery.min.js')
    script(src='js/all.js')
