extends _template.pug
block head
  title Page Title
  meta(name='description' content='Page Description')
  link(rel='canonical' href='home.html')
  meta(spa-selector='title meta[name="description"] link[rel="canonical"] #page-content')
prepend script
  script.

//- Content
block content
  h1 -"Hello <b>World!</b>" 👽
