extends _template.pug
block header
block footer
block content
block head
  title ...
  meta(name='description' content='...')
  meta(name='robots' content='noindex')
prepend script
  script.
prepend script
  script(src='core/js/@spa.js')
