doctype html
html
  include html_inc/page_partials/_head.pug
    title Page Title
  body
    include html_inc/page_partials/_header.pug

    //- Page Content
    #page-content
      .animation
        p Menu Exemplo
        ul.animation-elements
          - for(i = 1; i <= 5; i++)
            li Menu #{i}a
        ul.animation-elements
          - for(i = 1; i <= 3; i++)
            li Menu #{i}b

    //- Page Content End

    include html_inc/page_partials/_footer.pug
    //- script(src='vendor/jquery/jquery.min.js')
    script(src='js/all.js')
