extends html/templates/_default.pug
block head
  title Page Title
  meta(name='description' content='Page Description')
block script
  script.

//- Content
block content
  .container
    .row
      .col-md-6.bg-danger
        p <b>Usuário:</b> #{user.name}
      .col-md-6.bg-warning.text-right
        p <b>Idade:</b> #{user.age}

  h1 Olá #{user.name}
  +bloco('bloco-borderless', 'http://google.com', 'Google', 'R$ 20.278,50')
  +bloco('bloco-borderless', 'http://skype.com', 'Skype', 'R$ 1,00')

  ul
    - const menus = [["Home", "index.html"],["Quem Somos", "sobre.html"],["Contato", "contato.html"]]
      each menu, i in menus
        li
          a(href= menu[1] ) #{menu[0]}
      else
        p No values
