extends html/templates/_default.pug
block header
block footer
block content
block head
  title ...
  meta(name='description' content='...')
  meta(name='robots' content='noindex')
prepend script
  script.
prepend script
  script(src='js/singles/spa.js')
