extends html/templates/_default.pug
block header
  //- 
block footer
  //- 
block content
  //- 
block head
  title ...
  meta(name='description' content='Page Description')
  meta(name='robots' content='noindex')
block script
  script.
